<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Point na Brasa</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
  </head>
  <script language="javascript" src="../static/js/funcoes.js"></script>
  <body>
    <nav class="menu">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#">Pedidos Online</a></li>
        <li><a href="Login.html">Login</a></li>
        <li><a href="Cadastro.html">Cadastrar</a></li>
        <li><a href="#">    (21) 99999-9999</a></li>
      </ul>
    </nav>
    <div>
      <div class="img-logo">
        <img src="../static/image/logo.png" alt="Logo" />
        </div>
        <div class="img-pedido">
        <a href="#" class="link">
         <img src="../static/image/pedidos.jpeg" alt="pedido" a href="#"/>
        </a>
      </div>
      <div class="setor2">
      <div class="localhorario">
        <span>Local e Horário</span>
      </div>
    <div class="infos">
      <div>
        <h3>Endereço</h3>
        <p>Rua fulano de tal 999</p>
        <p>Bairro, Rio de Janeiro/RJ - CEP</p>
        <p>Tel: (xx) 99999-9999</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(xx) 99999-9999</p>
      </div>
      <div>
        <h3>Horário de Funcionamento</h3>
        <p>Sexta - Domingo : 00:00 às 00:00</p>
        <p>Segunda - Quinta : 00:00 às 00:00</p>
      </div>
      </div>
    </div>
    <div class="setor3">
    <footer class="pe">
        <img src="../static/image/facebook.png" style="width: 30px; height: 30px;"/>
        <p>Site Orgulhosamente criado </br>por Igor Petista Lula Livre</p>
    </div>
    </footer>
  </body>
</html>
