<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Point na Brasa</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
  </head>
  <script language="javascript" src="../static/js/funcoes.js"></script>
  <body>
    <nav class="menu">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#">Pedidos Online</a></li>
        <li><a href="Login.html">Login</a></li>
        <li><a href="Cadastro.html">Cadastrar</a></li>
        <li><a href="#">    (21) 99999-9999</a></li>
      </ul>
    </nav>

    <div class="Login">
    <div class="img-logo">
            <img src="../static/image/logo.png" alt="Logo" />
            </div>

            <div class="container">
            <form method="POST" action="">
              <h1>Login</h1>
              <p>
              <label for="nome_login">Seu e-mail</label>
              <input type="text" placeholder="contato@exemplo.com.br" name="uname" required>
                </p>
                <p>
              <label for="nome_psw">Sua senha</label>
              <input type="password" placeholder="Sua senha" name="nome_psw" required>
                  </p>
                  <p>
              <button type="submit">Login</button>
                    </p>
                    <p>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Mantenha-me Logado
              </label>
              </p>
            </div>

            <span class="nome_psw" style="top: 30px; position: relative;">Esqueceu a <a href="#">senha?</a></span>
          </div>
            </form>
          </div>

    <div class="setor3">
    <footer class="pe">
        <img src="../static/image/facebook.png" style="width: 30px; height: 30px;"/>
        <p>Site Orgulhosamente criado </br>por Igor Petista</p>
    </div>
    </div>
    </footer>
  </body>
</html>
