@charset "UTF-8";
Html {
  min-width: 0%;
  max-width: 100%;

}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url("../image/carne.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

  }
  .menu {
    background: black;
    text-align: center;
  }

  .menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
  }

  .menu > ul > li {
    display: inline-block;
    padding-right: 60px;
  }

  .menu > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu > ul > li a:hover {
    background-color: rgb(87, 85, 85);
  }

  .img-logo {
    margin: auto;
  }
  .img-logo > img {
    border: 2px solid white;
    border-radius: 100%;
    left: 45%;
    top: 15%;
    position: absolute;
  }

  .img-logo > a > img {
    border: 2px solid white;
    border-radius: 100%;
    left: 45%;
    top: 15%;
    position: absolute;
  }

  .img-pedido {
      margin: auto;
  }

  .link > img {
      left: 39%;
      top: 45%;
      position: absolute;
      width: 20%; 
  }

  .setor2 {
      border-top: 5px solid black;
      background-color: white;
      height: 80%;
      position: relative;
      top: 500px;
  }
 
  .localhorario {
    text-align: center;
  }
  .localhorario > span {
    background: black;
    color: white;
    padding: 20px 50px 20px 50px;
    font-size: 25px;
    border-radius: 10px;
    top: 25px;
    position: relative;
  }
  .infos {
    display: flex;

  }
  .infos > div {
    flex-wrap: wrap;
    width: 50%;
    margin-top: 30px;
    text-align: center;

  }
  .setor3 {
      text-align: center;
      margin: auto
  }

  .setor3 > footer {
      background-color: black; 
      padding:0%; 
      margin:0px; 
      top: 501px; 
      position: relative;
      text-align: center;
  }
  

.pe > p {
  color: white;
  }